<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363187098300-vq3u4lgffvp24a6timphvd2s1al70uic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363187098300-vq3u4lgffvp24a6timphvd2s1al70uic</string>
	<key>API_KEY</key>
	<string>AIzaSyB4oHaJgjZ7ObWMmJTnvbMZHhV-VB609W8</string>
	<key>GCM_SENDER_ID</key>
	<string>363187098300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>example.com.LabMedicProject1</string>
	<key>PROJECT_ID</key>
	<string>labmedicgsg-565ad</string>
	<key>STORAGE_BUCKET</key>
	<string>labmedicgsg-565ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363187098300:ios:5494763879e144e0e5b6b9</string>
	<key>DATABASE_URL</key>
	<string>https://labmedicgsg-565ad.firebaseio.com</string>
</dict>
</plist>